/*************************************************/
.animate {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}


.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: #EEDEC1;
    color: #4E3E14;
}

header {
    width: 100%;
    background-color: #F6B62F;
    box-shadow: 0 2px 10px #4E3E14;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    text-align: center;
}

header a {
    color: #4E3E14;
}

.header-top {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 0;
    height: 90px;
    box-sizing: border-box;

    position: relative;
}

.header-top .logo {}

.header-top .logo a {
    display: inline-block;
}

.header-top .logo a img {
    height: 60px;
    display: block;
}

.header-top .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-top .icon a {
    display: inline-block;
}

.header-top .icon a:first-child {
    margin-right: 12px;
}

.header-top .icon a img {
    height: 30px;
    display: block;
}

nav.gnb {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    background-color: #fff;
}

nav.gnb ul {
    max-width: 1280px;
    margin: 0 auto;
}

nav.gnb ul li {
    float: none;
    /* 하는이유?? */
    display: inline-block;
    margin: 0 30px;
}

nav.gnb ul li:last-child {
    margin-right: 0;
}

/*******************************************/
main {
    width: 100%;
    /*  max-width: 1920px; */

    margin: 90px auto 200px;
    /* 고정된 header 높이만큼 margin!!! */

    position: relative;
    /* .group의 기준!!!! */
}

main .first .viewer {
    width: 100%;
    height: 880px;
    overflow: hidden;

    position: relative;
}

.viewer .slide {
    width: 100%;
    position: absolute;
}

.viewer .slide img {
    width: 100%;
    display: block;
}

.viewer .active {
    z-index: 1;
}

main .first .group {
    width: 1280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;

    z-index: 2;
    /* outline: 2px solid blue; */
}

main .first .banner {
    margin-bottom: 80px;
}

main .first .banner .main-title {
    font-size: 70px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

main .first .banner .main-slogan {
    font-size: 20px;
    color: #fff;
}

main .first .main-btn {
    /* outline: 2px solid darkblue; */
}

main .first .main-btn .explore {
    float: left;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #4E3E14;
    border: 3px solid #fff;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
}

main .first .main-btn .explore:hover {
    background-color: #4E3E14;
    color: #fff;
    border: 3px solid #4E3E14;
}

main .first .main-btn .search {
    display: inline-block;
    padding: 15px 20px;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

main .first .main-btn .search:hover {
    background-color: #4E3E14;
    color: #fff;
    border: 3px solid #4E3E14;
}

/**********************************************/
section {}

section .product {
    width: 1280px;
    margin: 0 auto 200px;
}

section .product .product-txt-box {
    text-align: center;
    margin-bottom: 65px;
    position: relative;
    z-index: 1;
}

.product-txt-box .sec-title {
    font-family: "Outfit", sans-serif;
    font-size: 45px;
    margin-bottom: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-txt-box .sec-title::before,
.product-txt-box .sec-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    /* 화면 전체 너비 */
    height: 3px;
    background: #F6B62F;
}

.sec-title span {
    position: relative;
    z-index: 1;
    /* 선 위에 오도록 */
    background: #EEDEC1;
    /* 배경과 선이 겹칠 경우 글자 배경 줌 */
    padding: 0 20px;
    white-space: nowrap;
    font-weight: bold;
}

.sec-slogan {
    font-size: 18px;
}

section .product .product-box {}

/* section .product .product-box .ll{
    height:300px;
    width: 1280px;
    background-color: #F6B62F;
} */

section .product .photo-box {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    width: 31%;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

section .product .photo-box~.photo-box {
    margin-left: 3.5%;
    position: relative;
}

section .product .photo-box .photo {
    margin-bottom: 40px;
}

section .product .photo-box .photo img {
    width: 100%;
    height: 330px;
    border-radius: 5px;
    display: block;
    transition: opacity 0.3s;
}

section .product .photo-box .photo img:hover {
    content: url(../img/album_03.jpg);
    width: 100%;
    height: 330px;
    opacity: 0.7;
}

section .product .photo-box .name {
    font-size: 25px;
    font-weight: 700;
}

section .product .photo-box .des {
    font-size: 20px;
    margin-bottom: 63px;
}

/* ************************************************************* */
section .guide {
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto 250px;

    position: relative;
}

section .guide .slide-box {
    width: 1920px;
    margin: 0 auto;
    height: 700px;
    overflow: hidden;
}

section .guide .guide-img {
    width: 400%;
    position: relative;
}

section .guide .guide-img::after {
    content: "";
    display: block;
    clear: both;
}

section .guide .guide-img a {
    width: 25%;
    float: left;
}

section .guide .guide-img img {
    width: 100%;
    height: 700px;
    display: block;
}

.guide .pager {
    position: absolute;
    /* 완전 나간거:: 그래서 부모가 자리 안남겨놓음 */
    /* 절대적위치 지정(움직이게) */
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.guide .pager li {
    display: inline-block;
    font-size: 20px;
}

.guide .pager li~li {
    margin-left: 10px;
}

section .guide .guide-txt {
    width: 1280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

section .guide .main-title {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

section .guide .main-slogan {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

/* *********************************************************/
.top-box {
    width: 1320px;
    margin: 0 auto;
}

.top-box .box {
    margin-bottom: 20%;
    position: relative
}

.box .img-box {
    width: 50%;
}

.box img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.box .txt-box {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.box .txt-box .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.box .txt-box .slogan {
    font-size: 22px;
    margin-bottom: 35px;
}

.box .btn {
    display: inline-block;
    padding: 15px 20px;
    color: #ffffff;
    background-color: #4E3E14;
    border: 3px solid #4E3E14;
    border-radius: 40px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
}

.box .btn:hover {
    background-color: transparent;
    color: #4E3E14;
    border: 3px solid #4E3E14;
}



/* *********************************************************/
.album {
    width: 100%;
    margin: 0 auto 200px;
    position: relative;

    background-image: url(../img/film2.png);
    background-position: center top;
    background-size: 100% 100%;

    padding: 60px 0;
}

.album .album-content {
    width: calc(100% - 60px);
    margin: 150px auto;
    overflow: hidden;
}

.album .album-content .album-img,
.album .album-content .album-img2 {
    width: 300%;
    margin-bottom: 30px;
}

.album .album-content .album-img li,
.album .album-content .album-img2 li {
    float: left;
    margin-right: 10px;
    outline: 2px solid limes;
}

.album-img li img,
.album-img2 li img {
    display: block;
}

.album-img img {
    float: left;
    border-radius: 5px;
}

/* ********************************************************** */
.reviews {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.reviews .reviews-txt-box {
    text-align: center;
    margin-bottom: 65px;
}

.reviews .reviews-txt-box .sec-title {
    font-size: 45px;
}

.reviews .reviews-txt-box .sec-slogan {
    font-size: 18px;
}

.reviews .reviews-box {}

.reviews .reviews-box .reviews-list {}

.reviews .reviews-box .reviews-list img {
    width: 100%;
    height: 380px;
    width: 380px;
    border-radius: 5px 5px 0 0;
    display: block;
}

.reviews .reviews-box .reviews-list li {
    margin-left: 3.5%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;

    position: relative;
}

.reviews .reviews-box .hover .caption {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    text-align: center;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;

    transition: all 1s;
}

.reviews .reviews-box .reviews-list li:last-child {
    margin-right: 0;
}

.reviews .reviews-box .reviews-list li .reviews-txt {
    font-size: 15px;
    padding: 30px;
    text-align: center;
}

.reviews .reviews-box .reviews-list li .reviews-txt .camera {
    margin-top: 30px;
    text-align: left;

}

.reviews .reviews-box .reviews-list li .reviews-txt .camera .point {
    font-size: 18px;
    font-weight: 700;
}

/* ************************************************* */
footer {
    width: 100%;
    background-color: #F6B62F;
    padding: 60px 0;
}

footer a {
    color: #4E3E14;
}

footer a:hover {
    text-decoration: underline;
}

footer .inner {
    width: 1320px;
    margin: 0 auto;
}

footer .footer-top .kodaklogo {
    width: 80px;
    margin-bottom: 40px;
    float: left;
    margin-right: 60px;
}

footer .footer-top .kodaklogo img {
    width: 100%;
    display: block;
}

footer .footer-top .contact {
    float: left;
}

footer .footer-top .contact p {
    letter-spacing: -1px;
}

footer .footer-top .contact p:first-child {
    font-size: 30px;
    font-weight: 700;
}

footer .footer-top .contact p span {
    margin-right: 10px;
}

footer .info {
    border-top: 1px solid #4E3E14;
    padding-top: 30px;
    position: relative;
}

footer .inner .info .links {
    margin-bottom: 20px;
}

footer .inner .info .links a {
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;

    position: relative;
    /* 가상요소 after의 기준!!! */
    /* outline: 1px solid blue; */
}

footer .inner .info .copy {}

footer .inner .info .sns {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 31px;
}

footer .inner .info .sns a {
    width: 40px;
    height: 40px;

    float: left;
    margin-left: 10px;
}

footer .inner .info .sns a img {
    width: 100%;
    display: block;
}