footer {
    width: 100%;
    background-color: #F6B62F;
    padding: 60px 0;
}

footer a {
    color: #4E3E14;
}

footer a:hover {
    text-decoration: underline;
}

footer .inner {
    width: 1320px;
    margin: 0 auto;
}

footer .footer-top .kodaklogo {
    width: 80px;
    margin-bottom: 40px;
    float: left;
    margin-right: 60px;
}

footer .footer-top .kodaklogo img {
    width: 100%;
    display: block;
}

footer .footer-top .contact {
    float: left;
}

footer .footer-top .contact p {
    letter-spacing: -1px;
}

footer .footer-top .contact p:first-child {
    font-size: 30px;
    font-weight: 700;
}

footer .footer-top .contact p span {
    margin-right: 10px;
}

footer .info {
    border-top: 1px solid #4E3E14;
    padding-top: 30px;
    position: relative;
}

footer .inner .info .links {
    margin-bottom: 20px;
}

footer .inner .info .links a {
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;

    position: relative;
    /* 가상요소 after의 기준!!! */
    /* outline: 1px solid blue; */
}

footer .inner .info .copy {}

footer .inner .info .sns {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 31px;
}

footer .inner .info .sns a {
    width: 40px;
    height: 40px;

    float: left;
    margin-left: 10px;
}

footer .inner .info .sns a img {
    width: 100%;
    display: block;
}