main {
    width: 100%;
    margin: 90px auto 80px;
}

main img {
    width: 100%;
}

main .txt-box {
    width: 1280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 300px;

    z-index: 2;
}

main .txt-box h2 {
    font-size: 70px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

main .txt-box p {
    font-size: 20px;
    color: #fff;
}

/* *********************************************** */
section {
    width: 100%;
}

section .left {
    width: 1280px;
    margin: 0 auto;
}

section .left .use {
    margin-bottom: 75px;
}

section .left .use h2 {
    font-size: 50px;
    font-weight: 700;
}

section .left .use p {
    font-size: 20px;
    margin-left: 80px;
}

section .left .main-box {}

section .left .main-box .box {
    margin-bottom:140px;
}

.left .main-box .box img {}

.left .main-box .box h2 {}

.left .main-box .box p {}

.left .btn {}

.right {
    width: 36%;
    float: right;
}